*,
*:before,
*:after {
  box-sizing: border-box;
--grey-1: 333333;
--grey-2: 4F4F4F;
font-family: Space Mono, sans-serif;
}

.panel{
  display: block;
  padding-top: 40px;
}

.header__text{

  position: absolute;
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;
  
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  
  color: var(--grey-1);
}

.content{
display: flex;
padding-top: 10%;
padding-bottom: 10%;
justify-content: center;

}

.scarecrow{
display: flexbox;
max-width: 100%;
padding-left: 5%;
padding-right: 5%;
width: 50%;
min-width: 50%;
height: auto;
min-width: 25%;
max-height: 80%;

}

/* fix the warping issues when the screen is small */
/* set a minimum size for the scarecrow when screen shrinks*/


.copy{
  padding-left: 5%;
  padding-right: 5%;
  
width: 50%;
}
.header{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  
  color: var(--grey-1);

  padding-right: 10%;

}
.description{
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;
  
  font-family: Space Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  color: var(--grey-2);
}
.button {
  background-color: #333333; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: -0.035em;
text-transform: uppercase;
letter-spacing: -0.035em;
text-transform: uppercase;
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;

}

.footer{
  display: flex;
  justify-content: center;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  text-align: center;
  
  color: #BDBDBD;
}


@media only screen and (max-width: 750px) {
 
  .header__text{

    position: absolute;
    width: 133px;
    height: 25px;
    left: 24px;
    top: 20px;
}

.content{
  flex-direction: column;
  width: 100%;
  }

  .copy{
        
  width: 100%;
  }
  
  .header{ 
    font-size: 48px;
    line-height: 71px;
    padding-right: 0%;
  }

  .description{
    font-size: 18px;
    line-height: 27px;
    width: 100%;
  }
}